# Database
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=data_feed
DB_USERNAME=app
DB_PASSWORD=secret

DB_TEST_HOST=mysql-test
DB_TEST_PORT=3306
DB_TEST_DATABASE=data_feed_test
DB_TEST_USERNAME=app
DB_TEST_PASSWORD=secret

# Application
APP_ENV=production
LOG_LEVEL=info

